<!-- we declare variables in ts file right, now we need to utilize/dispaly in our web page for that we can use data binding
<h6>data biding</h6>

<div class="row"> -->
    <!-- interpolation {{}} just only for display porpose-->
    <!-- <div class="col-4">
        <p>interpolatin : {{fristName}}</p>
    </div> -->
    <!-- property binding [] for input fields etc...to just display data in input fields-->
    <!-- <div class="col-4">
        <label>property binding</label>
        <input type="text" class="form-control" [value]="fristName" />
    </div> -->
    <!-- two-way data binding [()]  it'll change in server as well-->
    <!-- <div class="col-4">
        <label>two-way binding : </label>
        <input type="text" [(ngModel)]="fristName" />
    </div>
    <div class="col-4">
        <select [(ngModel)]="selectedCity">
            <option>KKD</option>
            <option>HYD</option>
        </select>
        <p>{{selectedCity}}</p> <!-- to check the selected data is updated where ever we are calling selectedCity -->
    </div> -->
    <!-- event Binding () -->
    <!-- <div class="col-4">
        <button class="btn btn-success" (click)="showWelcomeAlert()"> Show message</button>
        <button class="btn btn-success" (click)="showMessage('Hi Suni')"> Show message</button>
        <button class="btn btn-success" (click)="showMessage('Hi Ashoke')"> Show message</button>
    </div>
</div> -->


